{# -------------------------------------------------------------- #}
{# configuración de Vlans                                         #}
{# -------------------------------------------------------------- #}
{% if configuration.vlans is defined %}
vlans {
    