# config file for ansible -- https://ansible.com/
# ===============================================

# nearly all parameters can be overridden in ansible-playbook
# or with command line flags. ansible will read ANSIBLE_CONFIG,
# ansible.cfg in the current working directory, .ansible.cfg in
# the home directory or /etc/ansible/ansible.cfg, whichever it
# finds first

[defaults]
hash_behaviour=merge
host_key_auto_add = True
gathering = smart    # la que tenia era esta "explicit"
forks = 15
inventory = inventory.yml
retry_files_enabled = False
host_key_checking = False
interpreter_python= auto_silent
deprecation_warnings=False
fact_caching = jsonfile
fact_caching_connection = /tmp
stdout_callback = yaml
library = ./library
callback_whitelist = profile_tasks,jsnapy
roles_path = ~/.ansible/roles/
log_path=/tmp/ansible.log
ansible_debug = True
timeout = 240
# interpreter_python = /opt/app-root/bin/python
nocows = 1

[persistent_connection]
command_timeout = 45
