{### -------------------------------------------------------------------###}
{### configuracion.version ###}
{### -------------------------------------------------------------------###}
{% if configuration.version is defined %}
version {{ configuration.version }};
{% endif %}
